<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2007-2020, CIIC Guanaitong, Co., Ltd.
  ~ All rights reserved.
  -->

<configuration>


    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.http" level="TRACE"/>


    <root level="TRACE">
        <appender-ref ref="stdout"/>
    </root>

</configuration>